doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title HTML2Pug
    link(rel='stylesheet', href='/static/css/lib/github.css')
    link(rel='stylesheet', href='/static/css/lib/codemirror.css')
    link(rel='stylesheet', href='/static/dist/index.css')
  body
    #app
    script(src='/socket.io/socket.io.js')
    script(src='/static/dist/index.js')
