doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='Convert HTML to Pug (formerly Jade) template language')
    title HTML2Pug - Convert HTML to Pug

    //- Icons
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/static/img/icons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/static/img/icons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/static/img/icons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/static/img/icons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon-precomposed', sizes='60x60', href='/static/img/icons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/static/img/icons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/static/img/icons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/static/img/icons/apple-touch-icon-152x152.png')
    link(rel='icon', type='image/png', href='/static/img/icons/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='/static/img/icons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/static/img/icons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/static/img/icons/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/static/img/icons/favicon-128.png', sizes='128x128')
    meta(name='application-name', content=' ')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='/static/img/icons/mstile-144x144.png')
    meta(name='msapplication-square70x70logo', content='/static/img/icons/mstile-70x70.png')
    meta(name='msapplication-square150x150logo', content='/static/img/icons/mstile-150x150.png')
    meta(name='msapplication-wide310x150logo', content='/static/img/icons/mstile-310x150.png')
    meta(name='msapplication-square310x310logo', content='/static/img/icons/mstile-310x310.png')

    //- css
    link(rel='stylesheet', href='/static/css/lib/codemirror.css')
    link(rel='stylesheet', href='/static/css/lib/github.css')
    link(rel='stylesheet', href='/static/dist/index.css')

  body
    #app
    script.
      !function(h,t,m,l,p,u,g){h.GoogleAnalyticsObject=m;h[m]||(h[m]=function(){
        (h[m].q=h[m].q||[]).push(arguments)});h[m].l=+new Date;u=t.createElement(l);
        g=t.getElementsByTagName(l)[0];u.src=p;g.parentNode.insertBefore(u,g)}
        (window,document,'ga','script','//www.google-analytics.com/analytics.js');
        ga('create', 'UA-73798495-1', 'auto');
        ga('send', 'pageview');
    script(src='/socket.io/socket.io.js')
    script(src='/static/dist/index.js')
