doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='Convert HTML to Pug (formerly Jade) online faster than the speed of light')

    title HTML2Pug - Fastest online converter

    link(rel='stylesheet', href='index.css')

  body
    header
      html2pug
    section#io
      textarea#input
      textarea#output.disabled(disabled)
      
    script.
      !function(h,t,m,l,p,u,g){h.GoogleAnalyticsObject=m;h[m]||(h[m]=function(){
        (h[m].q=h[m].q||[]).push(arguments)});h[m].l=+new Date;u=t.createElement(l);
        g=t.getElementsByTagName(l)[0];u.src=p;g.parentNode.insertBefore(u,g)}
        (window,document,'ga','script','//www.google-analytics.com/analytics.js');
        ga('create', 'UA-73798495-1', 'auto');
        ga('send', 'pageview');
    script(type="module" src='index.js')
