doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='Convert HTML to Pug (formerly Jade) online for free')

    title html2pug - Free Online Converter

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Hind:400,500,600,700|IBM+Plex+Mono:500')
    link(rel='stylesheet', href='index.css')

  body.black-theme
    main#page
      header
        img#logo(src='/public/html2pug-logo.svg', alt='html2pug logo')
        nav
          button#menu-btn(type='button')
            img(src='/public/menu-icon.svg', alt='menu icon')

      section#io
        textarea#input(placeholder=`<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>Hello, world!</title>
  </head>
  <body>
    <h1 class="heading">Hello, world!</h1>
  </body>
</html>`)
        textarea#output.readonly(readonly)

      section#about
        Convert HTML to Pug (formerly Jade) online for free
      
    script.
      !function(h,t,m,l,p,u,g){h.GoogleAnalyticsObject=m;h[m]||(h[m]=function(){
        (h[m].q=h[m].q||[]).push(arguments)});h[m].l=+new Date;u=t.createElement(l);
        g=t.getElementsByTagName(l)[0];u.src=p;g.parentNode.insertBefore(u,g)}
        (window,document,'ga','script','//www.google-analytics.com/analytics.js');
        ga('create', 'UA-73798495-1', 'auto');
        ga('send', 'pageview');
    script(type="module" src='index.js')
