doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='Convert HTML to Pug (formerly Jade) online for free')

    title html2pug - Free Online Converter

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Hind:400,600,700|IBM+Plex+Mono:500')
    link(rel='stylesheet', href='index.css')

  body.black-theme
    main#page
      header
        img#logo(src='/assets/html2pug-logo.svg', alt='html2pug logo')
        nav
          button#menu-btn(type='button')
            img(src='/assets/menu-icon.svg', alt='menu icon')

      section#io
        textarea#input(placeholder=`<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <title>Hello, world!</title>
  </head>
  <body>
    <h1 class="heading">Hello, world!</h1>
  </body>
</html>`)
        textarea#output.readonly(readonly)

      section#about
        .info-box
          h2 About
          p.
            Pug is a templating language, like HTML and JSX, but more terse. It was called Jade prior to 2016. #[a(href='https://pugjs.org') Learn more about Pug.]
          p This website is a frontend to the #[a(href='https://www.npmjs.com/package/html2pug') html2pug] Node.js package, made for quick conversions through the browser.

        .info-box
          h2 Open source
          p.
            The source code for this website, along with the code for the html2pug library, are both open source and available on Github. PRs for both are welcome.
          ul
            li
              img.github(src='/assets/github-logo.svg', alt='Github logo')
              a(href='#') Website source
            li
              img.github(src='/assets/github-logo.svg', alt='Github logo')
              a(href='#') html2pug source

        .info-box
          h2 Author
          p This website was developed by #[a(href='https://izolate.net') izolate], who also wrote the html2pug npm package it is based on.
          p If you have any comments, please tweet #[a(href='https://twitter.com/izolate') @izolate], or open up #[a(href='https://github.com/izolate/html2pug-website/issues') an issue] on Github to submit a bug report. Thank you for your contributions.
    
    // Global site tag (gtag.js) - Google Analytics 
    script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-73798495-2')
    script.
      window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-73798495-2');

    script(type="module" src='index.js')
