:root {
  --header-height: 50px;
  --menu-width: 250px;

  /* Fonts */
  --font-size: 14px;
  --font-family: 'Hind', sans-serif;
  --font-family-mono: 'IBM Plex Mono', monospace;
  --font-weight-mono: 500;
  --font-weight-link: 600;
  --font-weight-bold: 700;
  --font-weight-normal: 400;

  /* Colors */
  --font-color: black;
  --link-color: black;
  --heading-color: black;
  --bg-color: white;
  --menu-bg-color: inherit;
  --input-bg-color: white;
  --input-font-color: black;
  --output-bg-color: white;
  --output-font-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: var(--bg-color);
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: calc(var(--font-size) * 2.5);
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

a {
  color: var(--link-color);
  font-weight: var(--font-weight-link);
}

main {
  position: relative;
  z-index: 1;
  transition: width 0.25s ease-out;
  width: 100%;
}

main.show-menu {
  /* Shrink left */
  width: calc(100vw - var(--menu-width));/
}

header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--menu-bg-color);
}

#logo {
  margin: 0 1rem;
  height: calc(var(--header-height) * 0.8);
}

#io {
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
}

nav button {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: var(--header-height);
  width: var(--header-height);
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

nav button:hover {
  background-color: #ffffff19;
}

nav button img {
  height: 15px;
}

textarea {
  width: 50%;
  height: inherit;
  padding: 1em 1.5em;
  border: none;
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-mono);
  font-size: calc(1rem * 0.65);
}

#input {
  background-color: var(--input-bg-color);
  color: var(--input-font-color);
}

#output {
  background-color: var(--output-bg-color);
  color: var(--output-font-color);
}

/* About */
#about {
  padding: 3em;
  display: grid;
  grid-template-rows: repeat(1, 200px);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2em;
  grid-column-gap: 5em;
}

.info-box p {
  margin-bottom: 1em;
}

.info-box ul {
  list-style: none;
}

.info-box li {
  display: flex;
  align-items: center;
}

.github {
  height: 17px;
  margin-right: 5px;
}

/* Settings */
#settings {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: var(--menu-width);
  padding: 0 3em;
  height: 100vh;
}

#settings h2 {
  height: var(--header-height);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: calc(var(--font-size) * 0.75);
  margin-bottom: 2em;
}

#settings h3 {
  font-weight: 600;
  font-size: var(--font-size);
}

.setting {
  margin-bottom: 2em;
}

.setting label {
  display: flex;
  align-items: center;
  font-size: calc(var(--font-size) * 0.9);
}

.setting input {
  margin-right: 0.5em;
}

#about-link {
  position: absolute;
  bottom: 1em;
}

#upload {
  display: none;
}

/* Themes */
.black-theme {
  --font-color: white;
  --link-color: yellow;
  --heading-color: white;
  --bg-color: #000;
  --menu-bg-color: var(--bg-color);
  --input-bg-color: #111;
  --input-font-color: #fff;
  --output-bg-color: #191919;
  --output-font-color: #ddd;
}

.light-theme {
  --font-color: #555555;
  --link-color: #3a91d0;
  --heading-color: #444444;
  --bg-color: #f4f4f4;
  --menu-bg-color: #333333;
  --input-bg-color: #fff;
  --input-font-color: #000;
  --output-bg-color: #fff;
  --output-font-color: #000;
}
.light-theme #output {
  border-left: 2px solid #ddd;
}
.light-theme .github {
  background-color: var(--font-color);
  padding: 2px;
  border-radius: 2px;
}
