:root {
  --header-height: 50px;
  --menu-width: 250px;

  /* Fonts */
  --font-size: 14px;
  --font-family: 'Hind', sans-serif;
  --font-family-mono: 'IBM Plex Mono', monospace;
  --font-weight-mono: 500;
  --font-weight-link: 600;
  --font-weight-bold: 700;

  /* Colors */
  --font-color: black;
  --link-color: black;
  --bg-color: white;
  --input-bg-color: white;
  --input-font-color: black;
  --output-bg-color: white;
  --output-font-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: var(--bg-color);
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: calc(var(--font-size) * 2.5);
}

a {
  color: var(--link-color);
  font-weight: var(--font-weight-link);
}

main {
  transition: transform 0.25s ease-out;
}

main.narrow {
  /* transform: translateX(calc(var(--menu-width) * -1)); */
  width: calc(100vw - var(--menu-width));
}

header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin: 0 1rem;
  height: calc(var(--header-height) * 0.8);
}

#io {
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
}

#menu-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: var(--header-height);
  width: var(--header-height);
  background: transparent;
  border: none;
  outline: none;
}

#menu-btn img {
  height: 20px;
}

textarea {
  width: 50%;
  height: inherit;
  padding: 1em 1.5em;
  border: none;
  font-family: var(--font-family-mono);
  font-weight: var(--font-weight-mono);
  font-size: calc(1rem * 0.65);
}

#input {
  background-color: var(--input-bg-color);
  color: var(--input-font-color);
}

#output {
  background-color: var(--output-bg-color);
  color: var(--output-font-color);
}

/* About */
#about {
  padding: 3em;
  display: grid;
  grid-template-rows: repeat(1, 200px);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2em;
  grid-column-gap: 5em;
}

.info-box p {
  margin-bottom: 1em;
}

.info-box ul {
  list-style: none;
}

.info-box li {
  display: flex;
  align-items: center;
}

.github {
  height: 17px;
  margin-right: 5px;
}

/* Themes */
.black-theme {
  --font-color: white;
  --link-color: yellow;
  --bg-color: #000;
  --input-bg-color: #111;
  --input-font-color: #fff;
  --output-bg-color: #191919;
  --output-font-color: #ddd;
}
