:root {
  --fontSize: 1rem;
  --fontFamilyMono: 'Menlo', 'Inconsolata', monospace;
  --backgroundColor: blue;
  --colorBlue: #1800ff;
  --colorLightBlue: #f3f3f7;
  --colorBorder: #D8D8E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: var(--fontSize);
  overflow: hidden;
}

header {
  height: 65px;
  padding: 0 2em;
  background-color: var(--colorBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repo,
.repo img {
  display: block;
  width: 40px;
  height: 40px;
}

section {
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
}

.editor-container {
  width: 50%;
  height: inherit;
  padding: 1em;
  border: none;
  background-color: white;
}
.editor-container:last-child {
  border-left: 1px solid var(--colorBorder);
  background-color: var(--colorLightBlue);
}

/* CodeMirror */
.CodeMirror {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.CodeMirror pre {
  font-family: var(--fontFamilyMono);
}
