:root {
  --fontSize: 1rem;
  --fontFamilyMono: 'Inconsolata';
  --backgroundColor: blue;
}

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: var(--fontSize);
}

header {
  height: 65px;
}

section {
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
}

textarea {
  width: 50%;
  height: inherit;
  border: none;
}

/* CodeMirror */
.CodeMirror pre {
  font-family: var(--fontFamilyMono);
}
